In [2]:
import pandas as pd
df = pd.read_csv('iris.csv')

In [3]:
print(df.head())
df.variety.unique()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [4]:
a = {'Setosa': 1 ,'Versicolor':2, 'Virginica':3}

In [5]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [6]:
df2=df.copy()

In [7]:
a

{'Setosa': 1, 'Versicolor': 2, 'Virginica': 3}

In [8]:
map?

In [9]:
T=df.replace({'variety': a})
T.head()

   sepal.length  sepal.width  petal.length  petal.width  variety
0           5.1          3.5           1.4          0.2        1
1           4.9          3.0           1.4          0.2        1
2           4.7          3.2           1.3          0.2        1
3           4.6          3.1           1.5          0.2        1
4           5.0          3.6           1.4          0.2        1

In [10]:
y = T.variety
X = T.drop('variety',axis=1)

In [12]:
X.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [13]:
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [14]:
model = GaussianNB()

In [15]:
model.fit(X_train, y_train)

GaussianNB(priors=None)

In [16]:
y_pred = model.predict(X_test)

In [17]:
confusion_matrix(y_test, y_pred)

array([[13,  0,  0],
       [ 0, 15,  1],
       [ 0,  0,  9]], dtype=int64)

In [18]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred)*100)

97.36842105263158

In [19]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(model, X, y, cv=6)
scores

array([0.92592593, 1.        , 0.91666667, 0.91666667, 0.95833333,
       1.        ])

In [21]:
print("Avg cross validation score is ",scores.sum()/6)

Avg cross validation score is  0.9529320987654321